/*
=============== 
Variables
===============
*/
:root {
    --clr-primary: #45abea;
    --clr-dark: #000000;
    --clr-light-gray: #f6f8f9;
    --clr-gray: #c5cbd0;
    --clr-light-dark: #444851;
    --clr-green: #65c0a9;
    --clr-red: #eb5851;
    --clr-orange: #f29e33;
    --clr-light-green: #b0c926;
    --clr-pink: #d863a1;
    --clr-primary-green: #64c0a9;
    --clr-purple: #9c72e4;
    --clr-white: #ffffff;
    --ff-primary: "Arial", sans-serif;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
=============== 
Global Styles
===============
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

body {
    background-color: var(--clr-light-gray);
    font-family: var(--ff-primary);
}



/*
=============== 
Header
===============
*/
header {
    background-color: var(--clr-white);
}

.title {
    padding: 2rem;
    font-size: 2.5rem;
}

img {
    vertical-align: middle;
}

/*
=============== 
Main
===============
*/

main {
    margin: 3% auto;
    width: 70%;
    color: var(--clr-light-dark);
    
}

#form_section {
    padding: 1rem;
    background-color: var(--clr-white);
    margin-bottom: 0.3rem;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    padding-left: 3rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#main_section {
    padding: 3rem 3rem 1rem 3rem;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    background-color: var(--clr-white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

h2 {
    display: inline-block;
}

.title_section {
    margin-bottom: 1rem;
}

.arrow {
    font-size: 1.5rem;
}

.circle {
    color: var(--clr-green);
    display: inline-block;
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    line-height: 1rem;
    
    border-radius: 50%;
    text-align: center;
    
}
.green{
    color: var(--clr-green);
    border: 0.03rem solid var(--clr-green);
}
.red{
    color: var(--clr-red);
    border: 0.03rem solid var(--clr-red);
}

.btn,
.form {
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    font-weight: 700;
    font-size: 0.75rem;
    border: none;
    border-radius: 1rem;
}

.form {
    border-radius: var(--radius);
    height: 2rem;
}
.text-cell{
    border: 0.03rem solid var(--clr-gray);
    width: 7rem;
    text-align: center;
}

.blue {
    background-color: var(--clr-primary);
}
.purple {
    background-color: var(--clr-purple);
}
.primary-green{
    background-color: var(--clr-primary-green);
}
.orange{
    background-color: var(--clr-orange);
}
.light-green{
    background-color: var(--clr-light-green);
}
.pink{
    background-color: var(--clr-pink);
}
.info_section{
    margin-bottom: 1rem;
}
.sub_section{
    margin-bottom: 2rem;
}